a,
a:hover,
a:active {
    text-decoration: none;
    outline: none;
}
.about-section {
    margin: 0.5rem 0 2rem 0;
    padding: 0;
    background: transparent !important;
}

.about-wrapper {
    display: flex;
    flex-direction: row;
}

.image-column, .content-column {
    max-width: 50%;
    height: fit-content;
}


.about-section .sec-title {
    margin-bottom: 45px;
}

.about-section .text {
    margin-bottom: 1.4rem;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    font-weight: 400;
}

.sec-title h2 {
    position: relative;
    /* display: block; */
    font-size: 40px;
    line-height: 1.28em;
    font-weight: 700;
    padding-bottom: 18px;
    color: var(--black);
}

.sec-title h2:before {
    position: absolute;
    content: '';
    left: 2px;
    bottom: 0px;
    width: 50px;
    height: 3px;
    background-color: var(--black);
}




.about-section .btn-box a {
    padding: 15px 40px;
}

.btn-style-one {
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 0.02em;
    background: var(--black)
}

.btn-style-one:hover {
    background: #000000;
    color: #ffffff;
}

@media screen and (max-width:1200px) {
    .about-wrapper {
        align-items: center;
        flex-direction: column;
        margin-bottom: 6rem !important;
    }

    .image-column, .content-column {
        max-width: 90%;
    }
    .content-column, .sec-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        font-size: 1.9rem !important;
    }
}