:root {
  --black: #1e1e1f;
}

body {
  margin: 0;
}

i {
  cursor: pointer;
}

/* NAVBAR  */
#navbar {
  background-color: #000000 !important;
}

.navbar-brand img {
  max-width: 9.5rem;
}

/* LOGIN SIGNUP */
.login-container,
.signup-container {
  margin-bottom: 70px;
  height: 90vh;
}

.login-container,
.login-container form,
.signup-container,
.signup-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form,
.signup-container form {
  background-color: white;
  opacity: .95;
  width: 40%;
  border: 0;
  outline: none;
  padding: 2rem 1.5rem 2.5rem 1.5rem;
  border-radius: 6px;
}

#password,
.input-box,
.login-container button,
.signup-container button {
  width: 100% !important;
}

/* ADD NOTE and USER NOTES */
#add-note,
#user-notes {
  margin: 0 0 5rem 0 !important;
  padding: 1.5rem !important;
  background: rgba(255, 255, 255, 0.39);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#user-notes h2,
#add-note h2{
  margin-bottom: 3rem !important;
}

/* NOTEITEM */

/* background  */
.back {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  background: url('../src/media/background.png');
}